# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [7]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return max(a,b)
    else:
        return min(a,b)

In [8]:
# Check
lesser_of_two_evens(2,4)

4

In [9]:
# Check
lesser_of_two_evens(2,5)

2

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [45]:
def animal_crackers(text):
    a=text.split()
   # if a[0][0]==a[1][0]:
    #    return True
    #else:
     #   return False
    return a[0][0]==a[1][0]

In [46]:
# Check
animal_crackers('Levelheaded Llama')

True

In [47]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [53]:
def makes_twenty(n1,n2):
    return n1+n2==20 or n1==20 or n2==20

In [54]:
# Check
makes_twenty(20,10)

True

In [55]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [68]:
def old_macdonald(name):
    #new_string=''
    #for i in range(len(name)):
       # if i==0 or i==3:
      #      new_string+=name[i].upper()
     #   else:
    #        new_string+=name[i]
   # return new_string
    if len(name)>3:
        return name[:3].capitalize()+name[3:].capitalize()
    else:
        print('length of the string is too short')

In [69]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [85]:
def master_yoda(text):
    a=text.split()
    a.reverse()
    " ".join(a)
    print(a)

In [86]:
# Check
master_yoda('I am home')

['home', 'am', 'I']

In [ ]:
# Check
master_yoda('We are ready')

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [106]:
def almost_there(n):
    #return (n in (range(90,111)))
    #return (n in (range(190,211)))
    return (abs(100-n)<=10 or (abs(200-n)<=10))

In [107]:
# Check
almost_there(104)

True

In [108]:
# Check
almost_there(150)

False

In [109]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [235]:
def has_33(nums):
    for i in range(len(nums)-1):
        if nums[i]==3 and nums[i+1]==3:
            return True
    return False

In [236]:
# Check
has_33([1, 3, 3])

True

In [237]:
# Check
has_33([1, 3, 1, 3])

False

In [238]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [174]:
def paper_doll(text):
    new_string=''
    for i in range(len(text)):
        new_string+=text[i]+text[i]+text[i]
    return new_string

In [175]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [176]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [210]:
def blackjack(a,b,c):
    if a+b+c<=21:
        return(a+b+c)
    elif a+b+c>21 and(a==11 or b==11 or c==11):
        x=(a+b+c)-10
        print(x)
    else:
        print('BUST')

In [211]:
# Check
blackjack(5,6,7)

18

In [212]:
# Check
blackjack(9,9,9)

BUST

In [213]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [216]:
def summer_69(arr):
    total=0
    add=True
    for i in arr:
        while add:
            if i!=6:
                total+=i
                break
            else:
                add=False
        while not add:
            if i!=9:
                break
            else:
                add=True
                break
    return total

In [217]:
# Check
summer_69([1, 3, 5])

9

In [218]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [219]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [239]:
def spy_game(nums):
    for i in range(len(nums)-2):
        if nums[i]==0 and nums[i+1]==0 and nums[i+2]==7:
            return True
    return False

In [240]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [241]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [242]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [253]:
def count_primes(num):
    for i in range(num+1):
        if i%

In [254]:
# Check
count_primes(100)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!